<!DOCTYPE html>
<html>

<head>
	<meta charset ="UTF-8">
	<title> IPL Score_Predict </title>
	<link href='https://fonts.googleapis.com/cc?family=Pacifico' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/cc?family=Arimo' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/cc?family=Hind:300' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/cc?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

</head>

<body>
 <div class="login">
	<h1>IPL score - ML</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict') }}" method="post">
        	    <select id="bat_team" name="bat_team">
        	    <option value="none">--BATTING TEAM--</option>
                <option value="csk">Chennai Super Kings</option>
                <option value="rcb">Royal Challengers Bangalore</option>
                <option value="mi">Mumbai Indians</option>
                <option value="kxip">Kings XI Punjab</option>
                <option value="srh">Sunrisers Hyderabad</option>
                <option value="rr">Rajasthan Royals</option>
                <option value="dd">Delhi Daredevils</option>
                <option value="kkr">Kolkata Knight Riders</option>
              </select>
              <label for="bowl_team"></label>
              <select id="bowl_team" name="bowl_team">
                <option value="none">--BOWLING TEAM--</option>
                <option value="csk">Chennai Super Kings</option>
                <option value="rcb">Royal Challengers Bangalore</option>
                <option value="mi">Mumbai Indians</option>
                <option value="kxip">Kings XI Punjab</option>
                <option value="srh">Sunrisers Hyderabad</option>
                <option value="rr">Rajasthan Royals</option>
                <option value="dd">Delhi Daredevils</option>
                <option value="kkr">Kolkata Knight Riders</option>
              </select>
              <input type="text" name="Current Score" placeholder="Current Score" required="required" class="form-control">
              <input type="text" name="Wickets" placeholder="Wickets Gone" required="required" class="form-control">
              <input type="text" name="Overs" placeholder="Overs Completed" required="required" class="form-control">
              <input type="text" name="last_5_runs" placeholder="Last 5 Overs Run" required="required" class="form-control">
              <input type="text" name="Last 5 Overs Wicket" placeholder="Last 5 Overs Wicket" required="required" class="form-control">
              <input type="submit" name="predict" placeholder="Predict" class="form-control">          
    </form> 

   <br>
   <br>
   {{ prediction_text }}

 </div>